@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: "Roboto", "Fira Mono", monospace, sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	background: #23272f;
}
::-webkit-scrollbar-thumb {
	background: #2c2f36;
	border-radius: 8px;
}
